<div class="profile">
    <div class="input_field">
        <div class="edit-avatar">
            <div class="avatar-container">
                {{#if hasAvatar}}
                <img class="avatarImg" src='/users/me/avatar' />
                {{else}}
                <img class="avatarImg" src='https://i.imgur.com/F9cRyax.png' />
                {{/if}}
            </div>
            <div class="img-cover hidden">
                <span class="file edit-avatar-btn">
                    <label class="file-label">
                        <input class="file-input" type="file" id="avatarFile" name="avatar" form="profileForm">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-user-edit"></i>
                            </span>
                        </span>
                    </label>
                </span>
            </div>
        </div>
        <form action="/users/me/avatar" id="deleteAvForm">
            <input class="button" type="submit" value="Reset Profile Picture">
        </form>
    </div>
    <hr>
    <form action="/users/me/" enctype="multipart/form-data" id="profileForm">
        <div class="input_field">
            <label class="label">Username</label>
            <div class="field">
                <input class="input" size="30" type="text" name="name" form="profileForm" value="{{profile.name}}">
                <span class="help is-danger">{{error.errors.name.message}}</span>
            </div>
        </div>
        <div class="input_field">
            <label class="label">Email</label>
            <div class="field">
                <input class="input" size="30" type="email" name="email" form="profileForm" value="{{profile.email}}">
                <span class="help is-danger">{{error.errors.email.message}}</span>
            </div>
        </div>
        <div class="input_field">
            <label class="label">New Password</label>
            <div class="field">
                <input class="input" size="30" type="password" name="password" form="profileForm">
                <span class="help is-danger">{{error.errors.password.message}}</span>
            </div>
        </div>
        <div class="input_field">
            <label class="label">Verify New Passowrd</label>
            <div class="field">
                <input class="input" size="30" type="password" name="pwdVerif" form="profileForm">
                <span class="help is-danger">{{error.errors.pwdVerif.message}}</span>
            </div>
        </div>
        <div class="input_field">
            <label class="label">Joined</label>
            <span>{{DateString profile.createdAt}}</span>
        </div>
        <div class="input_field">
            <button class="button" type="submit" form="profileForm">
                <span class="icon mt-1"><i class="fas fa-check pb-1"></i></span><span>Save Changes</span></button>
        </div>
    </form>
    <hr>

    <div class="input_field">
        <form action="/users/logoutall" method="POST">
            <button class="button">Log Out From All Sessions</button>
        </form>
    </div>
    <div class="input_field">
        <form action="/users/me" id="deleteAcct">
            <button class="button">DELETE ACCOUNT</button>
        </form>
    </div>
</div>