{{#if tasks}}
{{!-- <table class="table is-striped is-fullwidth my-4" id="resTable">
    <thead>
        <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th class="dateCell">Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks }}
        <tr>
            <form action="/tasks/{{this._id}}" class="editForm" id="edit-{{this._id}}">
                <td>
                    <span {{#if this.completed}}style="text-decoration:line-through;"
                        {{/if}}>{{this.description}}</span>
                    <textarea class="hidden textarea" name="description" form="edit-{{this._id}}" cols="30" rows="1"
                        required>{{this.description}}</textarea>
                </td>
                <td>
                    {{#if this.completed}}
                    <div class="hidden select">
                        <select form="edit-{{this._id}}" name="completed">
                            <option value="false">No</option>
                            <option value="true" selected>Yes</option>
                        </select>
                    </div>
                    <span class="icon is-medium" id="state-{{this._id}}" title="Complete">
                        <i class="fas fa-check-circle fa-lg"></i>
                    </span>
                    {{else}}
                    <div class="hidden select">
                        <select form="edit-{{this._id}}" name="completed">
                            <option value="false" selected>No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <span class="icon is-medium" id="state-{{this._id}}" title="Not Complete">
                        <i class="fas fa-times-circle fa-lg"></i>
                    </span>
                    {{/if}}
                </td>
                <td>
                    <button type="submit" class="button hidden" form="edit-{{this._id}}">
                        <i class="fas fa-check"></i>
                    </button>
                    <button type="button" class="button preEditBtn" data-form="{{this._id}}">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="button deleteBtn" data-id="{{this._id}}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
                <td class="dateCell">
                    {{DateString this.createdAt}}
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table> --}}
<div class="columns is-vcentered is-multiline">
    {{#each tasks}}
    <div class="column is-full-tablet is-half-desktop task-container">
        <form action="/tasks/{{this._id}}" class="editForm" id="edit-{{this._id}}"></form>
        <div class="task">
            <div class="task-info">
                <div class="date-container">
                    <span class="date-text">
                        {{DateString this.createdAt}}
                    </span>
                </div>
                <h6 id="state-{{this._id}}" style="color:{{#if this.completed}}#c657c6;{{else}}gray;{{/if}}">
                    <span>
                        {{#if this.completed}}
                        Complete
                        {{else}}
                        Incomplete
                        {{/if}}
                    </span>
                    <span class="icon">
                        {{#if this.completed}}
                        <i class="fas fa-check"></i>
                        {{else}}
                        <i class="fas fa-times fa-lg"></i>
                        {{/if}}
                    </span>
                </h6>
                <div class="hidden select">
                    <select form="edit-{{this._id}}" name="completed">
                        <option value="false">Incomplete</option>
                        <option value="true" selected>Complete</option>
                    </select>
                </div>
                <h2>{{this.description}}</h2>
                <textarea class="hidden textarea" name="description" form="edit-{{this._id}}" cols="30" rows="1"
                    maxlength="70" wrap="hard" required>{{this.description}}</textarea>
                {{#unless this.completed}}
                <button class="button completeBtn" data-id="{{this._id}}">
                    <span>Mark As Complete</span>
                    <span class="icon"><i class="fas fa-check"></i></span>
                </button>
                {{/unless}}
            </div>
            <div class="task-options">
                <button class="button deleteBtn" data-id="{{this._id}}">
                    <span>Delete Task</span>
                    <span class="icon"><i class="fas fa-trash-alt"></i></span>
                </button>
                <button type="button" class="button preEditBtn" data-form="{{this._id}}">
                    <span>Edit Task</span>
                    <span class="icon"><i class="fas fa-pencil-alt"></i></span>
                </button>
                <button type="submit" class="button hidden" form="edit-{{this._id}}">
                    <span>Save Changes</span><span class="icon"><i class="fas fa-check"></i></span>
                </button>
            </div>
        </div>
    </div>
    {{/each}}
</div>








{{else}}
<div style="text-align: center;margin: 4rem auto;">No Tasks Found</div>
{{/if}}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <ul class="pagination-list">

        {{#each pages}}
        <li>
            <a class="pagination-link {{#if (isEqual @index ../current)}}is-current{{/if}}"
                data-skip="{{this}}">{{increment @index}}</a>
        </li>
        {{/each}}
    </ul>
</nav>