<table class="table is-hoverable is-striped is-fullwidth my-4" id="resTable">
    <tbody>
        {{#each tasks }}
        <tr>
            <form action="/tasks/{{this._id}}" class="editForm" id="edit-{{this._id}}">
                <td>
                    <span>{{this.description}}</span>
                    <textarea class="hidden textarea" name="description" form="edit-{{this._id}}" cols="30"
                        rows="1">{{this.description}}</textarea>
                </td>
                <td>
                    {{#if this.completed}}
                    <div class="hidden select">
                        <select form="edit-{{this._id}}" name="completed">
                            <option value="false">No</option>
                            <option value="true" selected>Yes</option>
                        </select>
                    </div>
                    <span id="state-{{this._id}}">completed</span>
                    {{else}}
                    <div class="hidden select">
                        <select form="edit-{{this._id}}" name="completed">
                            <option value="false" selected>No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <span id="state-{{this._id}}">not yet completed</span>
                </td>{{/if}}
                <td>{{DateString this.createdAt}}</td>
                <td>
                    <button type="submit" class="button hidden" form="edit-{{this._id}}">
                        <i class="fas fa-check"></i>
                    </button>
                    <button type="button" class="button preEditBtn" data-form="{{this._id}}">
                        <i class="far fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="button deleteBtn" data-id="{{this._id}}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </form>
        </tr>
        {{else }}
        <tr>
            <td colspan="3">No Tasks Found</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">

        {{#each pages}}
        <li>
            <a class="pagination-link {{#if (isEqual @index ../current)}}is-current{{/if}}"
                data-skip="{{this}}">{{increment @index}}</a>
        </li>
        {{/each}}
    </ul>
</nav>